<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="status">Status</label>
    <select name="status" id="">
        <option value=""></option>
    </select>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <table class="table table-striped">
                    <caption></caption>
<thead>
    <tr>
        <td>Employee ID</td>
        <td>Employee Name</td>
        <td>Department</td>
        <td>City</td>
        <td>Company</td>
        <td>Working Status</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

